<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Sessao</title>
</head>
<body>
    <div class="container">
        <h1>Excluir Sess達o</h1>
        <form class="sessao_form" action="/deletar_sessao" method="POST">
            <div class="input-group">
                <label for="id_atual">Selecione a Sess達o</label>
                <select id="id_atual" name="id_atual" required>
                    <option value="" disabled selected>Escolha uma Sess達o</option>
                    {{#each sessoes}}
                        <option value="{{this.id}}">{{this.id}} - {{this.horario}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="input-group">
                <button type="submit" class="button">Excluir Sess達o</button>
            </div>
        </form>
        {{#if success_msg}}
            <div style="color: green; font-weight: bold;">
                {{success_msg}}
                <br><br><br>
            </div>
        {{/if}}

        {{#if error_msg}}
            <div style="color: red; font-weight: bold;">
                {{error_msg}}
                <br><br><br>
            </div>
        {{/if}}
    </div>  
</body>
